@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .panel-btn{
        @apply border-2 border-secondary rounded-lg text-secondary p-1 w-10 hover:bg-secondary hover:text-dark-100 transition-colors;
    }
    .panel-btn--active{
        @apply bg-secondary text-dark-100
    }
    .panel-page{
        @apply h-full hidden overflow-hidden;
        width: 0;
    }
    .panel-page--active{
        @apply flex;
        animation: open 150ms linear forwards;
    }
    .panel-page > div {
        @apply flex flex-col gap-3 px-3 text-white w-full;
    }
    .anime_hover {
        @apply transition-all duration-300 delay-75 ease-in-out;
    }
}

input[type="color"]{
    @apply outline-none rounded-lg;
}

@keyframes open {
    to{
        width: 200px;
    }
}